Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	
	<!--Root element: Hotels-->
	<xs:element name ="Hotels">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Hotel" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string"/>
							<xs:element name="Phone" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="Address">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Number" type="xs:string"/>
										<xs:element name="Street" type="xs:string"/>
										<xs:element name="City" type="xs:string"/>
										<xs:element name="State" type="xs:string"/>
										<xs:element name="Zip" type="xs:string"/>
									</xs:sequence>
									<xs:attribute name="NearestAirport" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<!--Optional Rating attribute for hotel-->
						<xs:attribute name="Rating" type="xs:double" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
